<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />

    <link rel="shortcut icon" type="image/jpeg" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/lab_logo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/lab_logo_32x32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/lab_logo_64x64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/lab_logo_128x128.png">
    <link rel="apple-touch-icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/lab_logo.jpg">
    <link rel="apple-touch-icon" sizes="32x32" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/lab_logo_32x32.png">
    <link rel="apple-touch-icon" sizes="64x64" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/lab_logo_64x64.png">
    <link rel="apple-touch-icon" sizes="128x128" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/lab_logo_128x128.png">
    <script src="/mathjax/latest.js" id="MathJax-script" async></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.js"></script>
    {% endblock head %}
</head>

<body>
    <div id="page-wrapper">
        {% block header %}
            <div id="header">
                <!-- Logo -->
                <div id="centeringheader">
                    <div id="img-header">
                        <img src="{{ SITEURL }}/theme/images/msu_logo_from_pdf.svg" style="filter: brightness(0) invert(1);" alt="{{ SITENAME }}">
                    </div>
                    <h1><a href="{{ SITEURL }}/" id="logo">{{ SITENAME }}</a></h1>
                </div>
                <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            {% for title, link in MENUITEMS %}
                                {% if SITEURL + "/" + output_file == link  or (output_menu_type and SITEURL + output_menu_type == link) %}
                                    <li class="current">
                                {% else %}
                                    <li>
                                {% endif %}
                                        <a href="{{ link }}">{{ title }}</a>
                                    </li>
                            {% endfor %}
                        </ul>
                    </nav>
            </div>
        {% endblock %}
    </div>

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    {% block footer %}
    <div id="footer">
        <div class="container">
            <div class="row">
                <section class="col-4 col-12-narrower col-12-mobilep">
                    <div>
                        <script type="text/javascript" charset="utf-8" async
                            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa94101b496a89ca3ccd497a756b0d67f6c2a75c9d6975aa627a4615ec089c2bb&amp;width=100%&amp;height=280&amp;lang=en_US&amp;scroll=true"></script>
                     </div>
                </section>

                <section class="col-8 col-12-narrower col-12-mobilep">
                <div class="row">
                <section class="col-6 col-6-narrower col-12-mobilep">
                    <h4>Address:</h4>
                    <div>
                        <p>
                        Russia, 119991, Moscow, Leninskiye Gory, 1-52,
                        Faculty of Computational Mathematics and Cybernetics, office 702</p>
                    </div>
                </section>
                <section class="col-6 col-6-narrower col-12-mobilep">
                    <h4>Email:</h4>
                    <div>
                       <a href="mailto:contact@graphics.cs.msu.ru">contact@graphics.cs.msu.ru</a>
                     </div>
                </section>
                <section class="col-12 col-12-narrower col-12-mobilep">
                    <div class="copyright">
                        <ul class="menu">
                            <li>&copy; 1998-{{ CURRENT_YEAR }} Graphics and Media Lab</li>
                        </ul>
                    </div>
                </section>
                </div>
                </section>
            </div>
        </div>
    </div>
    {% endblock %}

    <!-- Scripts -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.dropotron.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/browser.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/breakpoints.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/util.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/main.js"></script>

</body>

</html>
