<div class="row gtr-30_customized">
{% for project in projects_list %}
    <section class="col-4 col-6-narrower col-12-mobile">
        <div class="box highlight-box">
            <div class="projectimage">
                <div class = "ratio-4-3">
                    <a href="{{ SITEURL }}/{{ project['url'] }}">
                        {% if project['smallphoto'] != 'None' %}
                        <img src="{{ SITEURL }}/{{ project['smallphoto'] }}" alt="">
                        {% else %}
                            <img src="{{ SITEURL }}/images/missing_image.jpg" alt="">
                        {% endif %}
                    </a>
                </div>
            </div>

            <h3>
                {% if project['url'] != 'None' %}
                    <a href="{{ SITEURL }}/{{ project['url'] }}">{{ project['title'] }}</a>
                {% elif project['title'] != 'None' %}
                    {{ project['title'] }}
                {% else %}
                    {{ project['id'] }}
                {% endif %}
            </h3>
        </div>
    </section>
{% endfor %}
</div>
