{% extends "base.html" %}
{% block html_lang %}{{ lang }}{% endblock %}

{% block content %}
<section class="wrapper style1">
    <div class="container">
        <div id="content">
            <h2>Laboratory Publications</h2>

            <div class="dropdown">
                <button class="dropbtn">All Lab groups<span class="arrow"></span></button>
                <div id="myDropdown" class="dropdown-content">
                    <a onclick="myFilterByGroupFunction('group_id_all', 'All Lab groups')">All Lab groups</a>
                    {% for group_id, group_name in possible_groups %}
                        <a onclick="myFilterByGroupFunction('{{group_id}}', '{{group_name}}')">{{group_name}}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="checkbox-div">
            <label class="checkbox-container">Show selected publications
                <input type="checkbox" onclick="myFilterFunction()" id="SelectedCheckbox">
                <span class="checkbox-checkmark"></span>
            </label>
            </div>

            {% for year, publications_list in publications_by_years%}
                <div class="yearly_publications" id="year_{{year}}">
                <h3>{{year}}</h3>
                {% for publication_id, publication in publications_list %}
                    {% if publication != 'None' %}
                    <div class="paper_description"
                        id="group_id_all {{publication.labgroupids | join(' ')}} {% if publication.id in selected_publications_ids %} selected_publication {% endif %}">
                        <div class="collapsible">
                            {% include "publication_template.html" %}
                        </div>
                        <div class="collapsiblecontent" style="display: none;">
                            {% if publication.abstract | length() > 0 %}
                                <h4>Abstract:</h4>
                                <p>{{ publication.abstract }}</p>
                            {% endif %}
                            {% if publication.partofprojects | length() > 0 %}
                                <h4 style="display: inline;">Projects:</h4>
                                {% for project in publication.partofprojects %}
                                    {% if project['url'] != 'None' %}
                                        <a href="{{ SITEURL }}/{{ project['url'] }}">{{ project['title'] }}</a>{{ ", " if not loop.last else "" }}
                                    {% elif project['title'] != 'None' %}
                                        {{ project['title'] }}{{ ", " if not loop.last else "" }}
                                    {% else %}
                                        {{ project['id'] }}{{ ", " if not loop.last else "" }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <h4>Bibtex:</h4>
                            <p>{{ publication.bibtex }}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>
    var showing_group_id = 'group_id_all';

    function myFilterByGroupFunction(group_id, group_name) {
        $("#myDropdown").removeClass("dropdown-show");
        $(".dropbtn").text(group_name)
        showing_group_id = group_id;
        $(".dropbtn").append("<span class=\"arrow\"></span>");
        myFilterFunction();
    }

    function myFilterFunction() {
        $(".collapsiblecontent").hide()
        $(".yearly_publications").show()
        $(".paper_description").hide()

        var checked_selected = document.getElementById("SelectedCheckbox");
        if (checked_selected.checked) {
            $(".paper_description[id*='" + showing_group_id + "'][id*='selected_publication']").show();
        } else {
            $(".paper_description[id*='" + showing_group_id + "']").show();
        }

        $(".yearly_publications").each(function() {
            if($(this).children(".paper_description:visible").length == 0) {
                $(this).hide();
            }
        });
    }

    $(document).ready(function(){
        $( ".collapsible a" ).click(function(e) {
            e.stopPropagation();
        });

        $(".collapsible").click(function(event){
            if (event.target.tagName.toLowerCase() != 'a') {
                $(this).next(".collapsiblecontent").slideToggle(500)
                return false;
            }
        });

        $(".dropbtn").click(function() {
            $("#myDropdown").toggleClass("dropdown-show");
        });
    });
</script>

{% endblock content %}
