/* CSS reset */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

h3+ol,h3+ul{
    padding-top: 0em;
}

h1+ol, h2+ul, h2+ol, h3+ol {
    margin-top: 0.3em;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Basic */

    html {
        overflow-y: scroll;
        font-size: 62.5%
    }

    body {
        background: #f7f7f7;
        font-size: 1.8rem;
    }

    @font-face {
        font-family: PTSansRegular;
        src: url('../fonts/PTSans-Regular.ttf');
    }
    @font-face {
        font-family: PTSansNarrow;
        src: url('../fonts/PTSansNarrow-Regular.ttf');
    }
    @font-face {
        font-family: PTMonoRegular;
        src: url('../fonts/PTMono-Regular.ttf');
    }

    body, input, select, textarea {
        color: #272727;
        font-family: PTSansRegular, sans-serif;
        line-height: 1.4em;
    }

    a {
        color: #036a96;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }

    p {
        margin: 0;
    }

    ul, ol, dl, table, blockquote {
        margin: 0 0 0.5em 0;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        margin-top: 0.4em;
        margin-bottom: 0em;
        line-height: 1.3em;
        font-weight: bold;
    }

    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 2.4rem;
        margin-top: 0.6em;
    }
    h3, .mdtext h1 {
        font-size: 2.1rem;
        margin-top: 0.8em;
    }
    h4, .mdtext h2 {
        font-size: 1.8rem;
    }
    h5, h6, .mdtext h3, .mdtext h4 {
        font-size: 1.3rem;
    }
    h2+h4{
        margin-top: 0.1em;
    }

    blockquote {
        font-style: italic;
        padding: 0.5em 0 0.5em 0.5em;
    }

/* Container */

    .container {
        margin: 0 auto;
        max-width: 100%;
        width: 1400px;
    }

    .container .collapsible {
        background-color: #ffffff;
        color: #000000;
        cursor: pointer;
        padding: 6px 18px;
        width: 100%;
        text-align: justify;
        hyphens: auto;
        margin: 0;
        border-radius: 18px;
    }

    .container .collapsible p {
        margin: 0;
    }

        .container .collapsible:hover {
            background-color: #b3e6ff;
        }

    .container .collapsiblecontent {
        padding: 0 18px;
        background-color: #ffffff;
        text-align: justify;
        hyphens: auto;
    }

    .container .collapsiblecontent p {
        margin: 0;
        }

    .container.notpaddedtexts a {
        margin-bottom: 0.4em;
        color: #03587d;
        font-weight: 600;
    }

    .container.notpaddedtexts p {
        margin-bottom: 0.4em;
    }

    .container .scrollingleftfixed {
        position: sticky;
        top: 7em;
    }

    @media screen {
        .container .scrollingleftfixed {
            margin-top: -2em;
        }
    }

    .scrolling_anchor {
        scroll-margin-top: 4em;
    }

    .mdtext p {
        margin: 0.5em 0;
        text-align: justify;
        hyphens: auto;
    }
    .mdtext blockquote p {
        text-indent: 0;
        text-align: right;
    }

    .mdtext li p{
        text-indent: 0em;
        margin: 0;
    }

    .mdtext ul{
    margin-left: 20px;
    }

    .mdtext ol{
        margin-left: 16px;
    }


    .mdtext a {
        text-indent: 0px;
        font-weight: normal;
        margin: 0;
        text-decoration: none;
    }
    .mdtext a:hover{
        text-decoration: underline;
    }
    .mdtext .table_container {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        overflow-x: auto;
    }
    .mdtext table{
        margin: 1em auto;
    }
    .mdtext table, thead, tbody, th, td {
        vertical-align: middle;
        text-align: center;
        width: auto;
        border-collapse: collapse;
        border: 1px solid #cccccc;
    }
    .mdtext th, td {
        padding: 3px 10px;
    }
    .mdtext img{
        display: block;
          margin-left: auto;
          margin-right: auto;
    }

    .mdtext code, pre {
        font-family: PTMonoRegular, sans-serif;
        font-size: inherit;
    }


    /* https://github.com/getpelican/pelican-plugins/tree/master/better_codeblock_line_numbering */
    /* https://georgexyz.com/code-highlight-in-pelican.html */
    code {
        overflow: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    .highlight pre {
        counter-reset: linecounter;
        padding-left: 2em;
    }
    .highlight pre span.code-line {
        counter-increment: linecounter;
        padding-left: 1em;
        text-indent: -1em;
        display: inline-block;
    }
    .highlight pre span.code-line:before {
        content: counter(linecounter);
        padding-right: 1em;
        display: inline-block;
        color: grey;
        text-align: right;
    }
    .highlight .hll { background-color: #ffffcc }
    .highlight  { background: #f8f8f8; }
    .highlight .c { color: #408080; font-style: italic } /* Comment */
    .highlight .err { border: 1px solid #FF0000 } /* Error */
    .highlight .k { color: #008000; font-weight: bold } /* Keyword */
    .highlight .o { color: #666666 } /* Operator */
    .highlight .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
    .highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
    .highlight .cp { color: #BC7A00 } /* Comment.Preproc */
    .highlight .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
    .highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
    .highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
    .highlight .gd { color: #A00000 } /* Generic.Deleted */
    .highlight .ge { font-style: italic } /* Generic.Emph */
    .highlight .gr { color: #FF0000 } /* Generic.Error */
    .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
    .highlight .gi { color: #00A000 } /* Generic.Inserted */
    .highlight .go { color: #888888 } /* Generic.Output */
    .highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
    .highlight .gs { font-weight: bold } /* Generic.Strong */
    .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
    .highlight .gt { color: #0044DD } /* Generic.Traceback */
    .highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
    .highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
    .highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
    .highlight .kp { color: #008000 } /* Keyword.Pseudo */
    .highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
    .highlight .kt { color: #B00040 } /* Keyword.Type */
    .highlight .m { color: #666666 } /* Literal.Number */
    .highlight .s { color: #BA2121 } /* Literal.String */
    .highlight .na { color: #7D9029 } /* Name.Attribute */
    .highlight .nb { color: #008000 } /* Name.Builtin */
    .highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
    .highlight .no { color: #880000 } /* Name.Constant */
    .highlight .nd { color: #AA22FF } /* Name.Decorator */
    .highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
    .highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
    .highlight .nf { color: #0000FF } /* Name.Function */
    .highlight .nl { color: #A0A000 } /* Name.Label */
    .highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
    .highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
    .highlight .nv { color: #19177C } /* Name.Variable */
    .highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
    .highlight .w { color: #bbbbbb } /* Text.Whitespace */
    .highlight .mb { color: #666666 } /* Literal.Number.Bin */
    .highlight .mf { color: #666666 } /* Literal.Number.Float */
    .highlight .mh { color: #666666 } /* Literal.Number.Hex */
    .highlight .mi { color: #666666 } /* Literal.Number.Integer */
    .highlight .mo { color: #666666 } /* Literal.Number.Oct */
    .highlight .sa { color: #BA2121 } /* Literal.String.Affix */
    .highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
    .highlight .sc { color: #BA2121 } /* Literal.String.Char */
    .highlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
    .highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
    .highlight .s2 { color: #BA2121 } /* Literal.String.Double */
    .highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
    .highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
    .highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
    .highlight .sx { color: #008000 } /* Literal.String.Other */
    .highlight .sr { color: #BB6688 } /* Literal.String.Regex */
    .highlight .s1 { color: #BA2121 } /* Literal.String.Single */
    .highlight .ss { color: #19177C } /* Literal.String.Symbol */
    .highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
    .highlight .fm { color: #0000FF } /* Name.Function.Magic */
    .highlight .vc { color: #19177C } /* Name.Variable.Class */
    .highlight .vg { color: #19177C } /* Name.Variable.Global */
    .highlight .vi { color: #19177C } /* Name.Variable.Instance */
    .highlight .vm { color: #19177C } /* Name.Variable.Magic */
    .highlight .il { color: #666666 } /* Literal.Number.Integer.Long */



    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 2px 10px 2px 10px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

    .arrow {
        display: inline-block;
        width: 7px;
        height: 7px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        margin-left: 9px;
        transform: rotate(135deg) translate(0, 3px);
    } 

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 250%;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        cursor: pointer;
    }

    .dropdown a:hover {background-color: #ddd;}
    .dropdown-show {display: block;}      

    /* The checkbox-container */
    .checkbox-div {
        display: inline;
        margin-left: 3%;
        vertical-align: middle;
        line-height: 2em;
    }

    .checkbox-container {
        display: inline;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkbox-checkmark {
        position: absolute;
        vertical-align: middle;
        top: 50%;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        transform: translate(0, -50%);
    }

    /* On mouse-over, add a grey background color */
    .checkbox-container:hover input ~ .checkbox-checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox-container input:checked ~ .checkbox-checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkbox-checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .checkbox-container input:checked ~ .checkbox-checkmark:after {
        display: block;
    }

    .captionedimage p {
        text-align: center;
    }

    /* Style the checkmark/indicator */
    .checkbox-container .checkbox-checkmark:after {
        left: 9px;
        top: 5px;
        width: 7px;
        height: 12px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }

        @media screen and (max-width: 840px) {

            .checkbox-div {
                display: block;
                margin-left: 0;
            }

            .checkbox-container {
                display: block;
            }
        }


        @media screen and (max-width: 1680px) {

            .container {
                width: 960px;
            }

        }

        @media screen and (max-width: 1280px) {

            .container {
                width: 960px;
            }

        }

        @media screen and (max-width: 980px) {

            .container {
                width: 90%;
            }

        }

        @media screen and (max-width: 840px) {

            .container {
                width: 90%;
            }

        }

        @media screen and (max-width: 736px) {

            .container {
                width: 90%;
            }

        }

        @media screen and (max-width: 480px) {

            .container {
                width: 100%;
            }

        }

/* Row */

    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

        .row > * {
            box-sizing: border-box;
        }

        .row.gtr-uniform > * > :last-child {
            margin-bottom: 0;
        }

        .row.aln-left {
            justify-content: flex-start;
        }

        .row.aln-center {
            justify-content: center;
        }

        .row.aln-right {
            justify-content: flex-end;
        }

        .row.aln-top {
            align-items: flex-start;
        }

        .row.aln-middle {
            align-items: center;
        }

        .row.aln-bottom {
            align-items: flex-end;
        }

        .row > .imp {
            order: -1;
        }

        .row > .col-1 {
            width: 8.33333%;
        }

        .row > .off-1 {
            margin-left: 8.33333%;
        }

        .row > .col-2 {
            width: 16.66667%;
        }

        .row > .off-2 {
            margin-left: 16.66667%;
        }

        .row > .col-3 {
            width: 25%;
        }

        .row > .off-3 {
            margin-left: 25%;
        }

        .row > .col-4 {
            width: 33.33333%;
        }

        .row > .off-4 {
            margin-left: 33.33333%;
        }

        .row > .col-5 {
            width: 41.66667%;
        }

        .row > .off-5 {
            margin-left: 41.66667%;
        }

        .row > .col-6 {
            width: 50%;
        }

        .row > .off-6 {
            margin-left: 50%;
        }

        .row > .col-7 {
            width: 58.33333%;
        }

        .row > .off-7 {
            margin-left: 58.33333%;
        }

        .row > .col-8 {
            width: 66.66667%;
        }

        .row > .off-8 {
            margin-left: 66.66667%;
        }

        .row > .col-9 {
            width: 75%;
        }

        .row > .off-9 {
            margin-left: 75%;
        }

        .row > .col-10 {
            width: 83.33333%;
        }

        .row > .off-10 {
            margin-left: 83.33333%;
        }

        .row > .col-11 {
            width: 91.66667%;
        }

        .row > .off-11 {
            margin-left: 91.66667%;
        }

        .row > .col-12 {
            width: 100%;
        }

        .row > .off-12 {
            margin-left: 100%;
        }

        .row.gtr-0 {
            margin-top: 0px;
            margin-left: 0px;
        }

            .row.gtr-0 > * {
                padding: 0px 0 0 0px;
            }

            .row.gtr-0.gtr-uniform {
                margin-top: 0px;
            }

                .row.gtr-0.gtr-uniform > * {
                    padding-top: 0px;
                }

        .row.gtr-25 {
            margin-top: -12.5px;
            margin-left: -12.5px;
        }

            .row.gtr-25 > * {
                padding: 12.5px 0 0 12.5px;
            }

            .row.gtr-25.gtr-uniform {
                margin-top: -12.5px;
            }

                .row.gtr-25.gtr-uniform > * {
                    padding-top: 12.5px;
                }

        .row.gtr-50 {
            margin-top: -25px;
            margin-left: -25px;
        }

            .row.gtr-50 > * {
                padding: 25px 0 0 25px;
            }

            .row.gtr-50.gtr-uniform {
                margin-top: -25px;
            }

                .row.gtr-50.gtr-uniform > * {
                    padding-top: 25px;
                }

                .row.gtr-30_customized {
                    margin-top: 20px;
                    margin-left: -20px;
                    margin-bottom: 20px;
                }

                .row.gtr-30_customized > * {
                        padding:0px 0px 30px 0px;
                }

                .row.gtr-30_customized.gtr-uniform {
                    margin-top: 0px;
                }

                .row.gtr-30_customized.gtr-uniform > * {
                    padding-top: 0px;
                }

        .row {
            margin-top: -5px;
            margin-left: -50px;
        }

            .row > * {
                padding: 5px 0 0 50px;
            }

            .row.gtr-uniform {
                margin-top: -5px;
            }

                .row.gtr-uniform > * {
                    padding-top: 50px;
                }

        .row.gtr-150 {
            margin-top: 0;
            margin-left: 0;
        }

            .row.gtr-150 > * {
                padding: 0;
                margin-bottom: 10px;
            }

            .row.gtr-150.gtr-uniform {
                margin-top: -75px;
            }

                .row.gtr-150.gtr-uniform > * {
                    padding-top: 75px;
                }

        .row.gtr-200 {
            margin-top: 0;
            margin-left: 0;
        }

            .row.gtr-200 > * {
                padding: 10px 0 0 10px;
            }

            .row.gtr-200.gtr-uniform {
                margin-top: -100px;
            }

                .row.gtr-200.gtr-uniform > * {
                    padding-top: 100px;
                }

        @media screen and (max-width: 1680px) {

            .row {
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;
                align-items: stretch;
            }

                .row > * {
                    box-sizing: border-box;
                }

                .row.gtr-uniform > * > :last-child {
                    margin-bottom: 0;
                }

                .row.aln-left {
                    justify-content: flex-start;
                }

                .row.aln-center {
                    justify-content: center;
                }

                .row.aln-right {
                    justify-content: flex-end;
                }

                .row.aln-top {
                    align-items: flex-start;
                }

                .row.aln-middle {
                    align-items: center;
                }

                .row.aln-bottom {
                    align-items: flex-end;
                }

                .row > .imp-wide {
                    order: -1;
                }

                .row > .col-1-wide {
                    width: 8.33333%;
                }

                .row > .off-1-wide {
                    margin-left: 8.33333%;
                }

                .row > .col-2-wide {
                    width: 16.66667%;
                }

                .row > .off-2-wide {
                    margin-left: 16.66667%;
                }

                .row > .col-3-wide {
                    width: 25%;
                }

                .row > .off-3-wide {
                    margin-left: 25%;
                }

                .row > .col-4-wide {
                    width: 33.33333%;
                }

                .row > .off-4-wide {
                    margin-left: 33.33333%;
                }

                .row > .col-5-wide {
                    width: 41.66667%;
                }

                .row > .off-5-wide {
                    margin-left: 41.66667%;
                }

                .row > .col-6-wide {
                    width: 50%;
                }

                .row > .off-6-wide {
                    margin-left: 50%;
                }

                .row > .col-7-wide {
                    width: 58.33333%;
                }

                .row > .off-7-wide {
                    margin-left: 58.33333%;
                }

                .row > .col-8-wide {
                    width: 66.66667%;
                }

                .row > .off-8-wide {
                    margin-left: 66.66667%;
                }

                .row > .col-9-wide {
                    width: 75%;
                }

                .row > .off-9-wide {
                    margin-left: 75%;
                }

                .row > .col-10-wide {
                    width: 83.33333%;
                }

                .row > .off-10-wide {
                    margin-left: 83.33333%;
                }

                .row > .col-11-wide {
                    width: 91.66667%;
                }

                .row > .off-11-wide {
                    margin-left: 91.66667%;
                }

                .row > .col-12-wide {
                    width: 100%;
                }

                .row > .off-12-wide {
                    margin-left: 100%;
                }

                .row.gtr-0 {
                    margin-top: 0px;
                    margin-left: 0px;
                }

                    .row.gtr-0 > * {
                        padding:0px 0px 0px 0px;
                    }

                    .row.gtr-0.gtr-uniform {
                        margin-top: 0px;
                    }

                        .row.gtr-0.gtr-uniform > * {
                            padding-top: 0px;
                        }

                .row.gtr-25 {
                    margin-top: -10px;
                    margin-left: -10px;
                }

                    .row.gtr-25 > * {
                        padding: 10px 0 0 10px;
                    }

                    .row.gtr-25.gtr-uniform {
                        margin-top: -10px;
                    }

                        .row.gtr-25.gtr-uniform > * {
                            padding-top: 10px;
                        }

                .row.gtr-50 {
                    margin-top: -20px;
                    margin-left: -20px;
                }

                    .row.gtr-50 > * {
                        padding: 20px 0 0 20px;
                    }

                    .row.gtr-50.gtr-uniform {
                        margin-top: -20px;
                    }

                        .row.gtr-50.gtr-uniform > * {
                            padding-top: 20px;
                        }

                    .row.gtr-30_customized {
                        margin-top: 20px;
                        margin-left: -20px;
                        margin-bottom: 20px;
                    }

                    .row.gtr-30_customized > * {
                            padding:0px 0px 30px 0px;
                    }

                    .row.gtr-30_customized.gtr-uniform {
                        margin-top: 0px;
                    }

                    .row.gtr-30_customized.gtr-uniform > * {
                        padding-top: 0px;
                    }

                .row {
                    margin-top: 0px;
                    margin-left: -40px;
                }

                    .row > * {
                        padding: 0px 0 0 40px;
                    }

                    .row.gtr-uniform {
                        margin-top: 0px;
                    }

                        .row.gtr-uniform > * {
                            padding-top: 40px;
                        }

                .row.gtr-150 {
                    margin-top: 0;
                    margin-left: 0;
                }

                    .row.gtr-150 > * {
                        padding: 0;
                    }

                    .row.gtr-150.gtr-uniform {
                        margin-top: -60px;
                    }

                        .row.gtr-150.gtr-uniform > * {
                            padding-top: 60px;
                        }

                .row.gtr-200 {
                    margin-top: -80px;
                    margin-left: -80px;
                }

                    .row.gtr-200 > * {
                        padding: 80px 0 0 80px;
                    }

                    .row.gtr-200.gtr-uniform {
                        margin-top: -80px;
                    }

                        .row.gtr-200.gtr-uniform > * {
                            padding-top: 80px;
                        }

        }

        @media screen and (max-width: 1280px) {

            .row {
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;
                align-items: stretch;
            }

                .row > * {
                    box-sizing: border-box;
                }

                .row.gtr-uniform > * > :last-child {
                    margin-bottom: 0;
                }

                .row.aln-left {
                    justify-content: flex-start;
                }

                .row.aln-center {
                    justify-content: center;
                }

                .row.aln-right {
                    justify-content: flex-end;
                }

                .row.aln-top {
                    align-items: flex-start;
                }

                .row.aln-middle {
                    align-items: center;
                }

                .row.aln-bottom {
                    align-items: flex-end;
                }

                .row > .imp-normal {
                    order: -1;
                }

                .row > .col-1-normal {
                    width: 8.33333%;
                }

                .row > .off-1-normal {
                    margin-left: 8.33333%;
                }

                .row > .col-2-normal {
                    width: 16.66667%;
                }

                .row > .off-2-normal {
                    margin-left: 16.66667%;
                }

                .row > .col-3-normal {
                    width: 25%;
                }

                .row > .off-3-normal {
                    margin-left: 25%;
                }

                .row > .col-4-normal {
                    width: 33.33333%;
                }

                .row > .off-4-normal {
                    margin-left: 33.33333%;
                }

                .row > .col-5-normal {
                    width: 41.66667%;
                }

                .row > .off-5-normal {
                    margin-left: 41.66667%;
                }

                .row > .col-6-normal {
                    width: 50%;
                }

                .row > .off-6-normal {
                    margin-left: 50%;
                }

                .row > .col-7-normal {
                    width: 58.33333%;
                }

                .row > .off-7-normal {
                    margin-left: 58.33333%;
                }

                .row > .col-8-normal {
                    width: 66.66667%;
                }

                .row > .off-8-normal {
                    margin-left: 66.66667%;
                }

                .row > .col-9-normal {
                    width: 75%;
                }

                .row > .off-9-normal {
                    margin-left: 75%;
                }

                .row > .col-10-normal {
                    width: 83.33333%;
                }

                .row > .off-10-normal {
                    margin-left: 83.33333%;
                }

                .row > .col-11-normal {
                    width: 91.66667%;
                }

                .row > .off-11-normal {
                    margin-left: 91.66667%;
                }

                .row > .col-12-normal {
                    width: 100%;
                }

                .row > .off-12-normal {
                    margin-left: 100%;
                }

                .row.gtr-0 {
                    margin-top: 0px;
                    margin-left: 0px;
                }

                    .row.gtr-0 > * {
                        padding: 0px 0 0 0px;
                    }

                    .row.gtr-0.gtr-uniform {
                        margin-top: 0px;
                    }

                        .row.gtr-0.gtr-uniform > * {
                            padding-top: 0px;
                        }

                .row.gtr-25 {
                    margin-top: -7.5px;
                    margin-left: -7.5px;
                }

                    .row.gtr-25 > * {
                        padding: 7.5px 0 0 7.5px;
                    }

                    .row.gtr-25.gtr-uniform {
                        margin-top: -7.5px;
                    }

                        .row.gtr-25.gtr-uniform > * {
                            padding-top: 7.5px;
                        }

                .row.gtr-50 {
                    margin-top: -15px;
                    margin-left: -15px;
                }

                    .row.gtr-50 > * {
                        padding: 15px 0 0 15px;
                    }

                    .row.gtr-50.gtr-uniform {
                        margin-top: -15px;
                    }

                        .row.gtr-50.gtr-uniform > * {
                            padding-top: 15px;
                        }

                        .row.gtr-30_customized {
                            margin-top: 15px;
                            margin-left: -20px;
                            margin-bottom: 20px;
                        }

                        .row.gtr-30_customized > * {
                                padding:0px 0px 30px 0px;
                        }

                        .row.gtr-30_customized.gtr-uniform {
                            margin-top: 0px;
                        }

                        .row.gtr-30_customized.gtr-uniform > * {
                            padding-top: 0px;
                        }

                .row {
                    margin-top: -30px;
                    margin-left: -30px;
                }

                    .row > * {
                        padding: 30px 0 0 30px;
                    }

                    .row.gtr-uniform {
                        margin-top: -30px;
                    }

                        .row.gtr-uniform > * {
                            padding-top: 30px;
                        }

                .row.gtr-150 {
                    margin-top: 0;
                    margin-left: 0;
                }

                    .row.gtr-150 > * {
                        padding: 0;
                    }

                    .row.gtr-150.gtr-uniform {
                        margin-top: -45px;
                    }

                        .row.gtr-150.gtr-uniform > * {
                            padding-top: 45px;
                        }

                .row.gtr-200 {
                    margin-top: -60px;
                    margin-left: -60px;
                }

                    .row.gtr-200 > * {
                        padding: 60px 0 0 60px;
                    }

                    .row.gtr-200.gtr-uniform {
                        margin-top: -60px;
                    }

                        .row.gtr-200.gtr-uniform > * {
                            padding-top: 60px;
                        }

        }

        @media screen and (max-width: 980px) {

            .row {
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;
                align-items: stretch;
            }

                .row > * {
                    box-sizing: border-box;
                }

                .row.gtr-uniform > * > :last-child {
                    margin-bottom: 0;
                }

                .row.aln-left {
                    justify-content: flex-start;
                }

                .row.aln-center {
                    justify-content: center;
                }

                .row.aln-right {
                    justify-content: flex-end;
                }

                .row.aln-top {
                    align-items: flex-start;
                }

                .row.aln-middle {
                    align-items: center;
                }

                .row.aln-bottom {
                    align-items: flex-end;
                }

                .row > .imp-narrow {
                    order: -1;
                }

                .row > .col-1-narrow {
                    width: 8.33333%;
                }

                .row > .off-1-narrow {
                    margin-left: 8.33333%;
                }

                .row > .col-2-narrow {
                    width: 16.66667%;
                }

                .row > .off-2-narrow {
                    margin-left: 16.66667%;
                }

                .row > .col-3-narrow {
                    width: 25%;
                }

                .row > .off-3-narrow {
                    margin-left: 25%;
                }

                .row > .col-4-narrow {
                    width: 33.33333%;
                }

                .row > .off-4-narrow {
                    margin-left: 33.33333%;
                }

                .row > .col-5-narrow {
                    width: 41.66667%;
                }

                .row > .off-5-narrow {
                    margin-left: 41.66667%;
                }

                .row > .col-6-narrow {
                    width: 50%;
                }

                .row > .off-6-narrow {
                    margin-left: 50%;
                }

                .row > .col-7-narrow {
                    width: 58.33333%;
                }

                .row > .off-7-narrow {
                    margin-left: 58.33333%;
                }

                .row > .col-8-narrow {
                    width: 66.66667%;
                }

                .row > .off-8-narrow {
                    margin-left: 66.66667%;
                }

                .row > .col-9-narrow {
                    width: 75%;
                }

                .row > .off-9-narrow {
                    margin-left: 75%;
                }

                .row > .col-10-narrow {
                    width: 83.33333%;
                }

                .row > .off-10-narrow {
                    margin-left: 83.33333%;
                }

                .row > .col-11-narrow {
                    width: 91.66667%;
                }

                .row > .off-11-narrow {
                    margin-left: 91.66667%;
                }

                .row > .col-12-narrow {
                    width: 100%;
                }

                .row > .off-12-narrow {
                    margin-left: 100%;
                }

                .row.gtr-0 {
                    margin-top: 0px;
                    margin-left: 0px;
                }

                    .row.gtr-0 > * {
                        padding: 0px 0 0 0px;
                    }

                    .row.gtr-0.gtr-uniform {
                        margin-top: 0px;
                    }

                        .row.gtr-0.gtr-uniform > * {
                            padding-top: 0px;
                        }

                .row.gtr-25 {
                    margin-top: -7.5px;
                    margin-left: -7.5px;
                }

                    .row.gtr-25 > * {
                        padding: 7.5px 0 0 7.5px;
                    }

                    .row.gtr-25.gtr-uniform {
                        margin-top: -7.5px;
                    }

                        .row.gtr-25.gtr-uniform > * {
                            padding-top: 7.5px;
                        }

                .row.gtr-50 {
                    margin-top: -15px;
                    margin-left: -15px;
                }

                    .row.gtr-50 > * {
                        padding: 15px 0 0 15px;
                    }

                    .row.gtr-50.gtr-uniform {
                        margin-top: -15px;
                    }

                        .row.gtr-50.gtr-uniform > * {
                            padding-top: 15px;
                        }

                        .row.gtr-30_customized {
                            margin-top: 15px;
                            margin-left: -20px;
                            margin-bottom: 20px;
                        }

                        .row.gtr-30_customized > * {
                                padding:0px 0px 30px 0px;
                        }

                        .row.gtr-30_customized.gtr-uniform {
                            margin-top: 0px;
                        }

                        .row.gtr-30_customized.gtr-uniform > * {
                            padding-top: 0px;
                        }

                .row {
                    margin-top: -30px;
                    margin-left: -30px;
                }

                    .row > * {
                        padding: 30px 0 0 30px;
                    }

                    .row.gtr-uniform {
                        margin-top: -30px;
                    }

                        .row.gtr-uniform > * {
                            padding-top: 30px;
                        }

                .row.gtr-150 {
                    margin-top: 0;
                    margin-left: 0;
                }

                    .row.gtr-150 > * {
                        padding: 0;
                    }

                    .row.gtr-150.gtr-uniform {
                        margin-top: -45px;
                    }

                        .row.gtr-150.gtr-uniform > * {
                            padding-top: 45px;
                        }

                .row.gtr-200 {
                    margin-top: -60px;
                    margin-left: -60px;
                }

                    .row.gtr-200 > * {
                        padding: 60px 0 0 60px;
                    }

                    .row.gtr-200.gtr-uniform {
                        margin-top: -60px;
                    }

                        .row.gtr-200.gtr-uniform > * {
                            padding-top: 60px;
                        }

        }

        @media screen and (max-width: 840px) {

            .row {
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;
                align-items: stretch;
            }

                .row > * {
                    box-sizing: border-box;
                }

                .row.gtr-uniform > * > :last-child {
                    margin-bottom: 0;
                }

                .row.aln-left {
                    justify-content: flex-start;
                }

                .row.aln-center {
                    justify-content: center;
                }

                .row.aln-right {
                    justify-content: flex-end;
                }

                .row.aln-top {
                    align-items: flex-start;
                }

                .row.aln-middle {
                    align-items: center;
                }

                .row.aln-bottom {
                    align-items: flex-end;
                }

                .row > .imp-narrower {
                    order: -1;
                }

                .row > .col-1-narrower {
                    width: 8.33333%;
                }

                .row > .off-1-narrower {
                    margin-left: 8.33333%;
                }

                .row > .col-2-narrower {
                    width: 16.66667%;
                }

                .row > .off-2-narrower {
                    margin-left: 16.66667%;
                }

                .row > .col-3-narrower {
                    width: 25%;
                }

                .row > .off-3-narrower {
                    margin-left: 25%;
                }

                .row > .col-4-narrower {
                    width: 33.33333%;
                }

                .row > .off-4-narrower {
                    margin-left: 33.33333%;
                }

                .row > .col-5-narrower {
                    width: 41.66667%;
                }

                .row > .off-5-narrower {
                    margin-left: 41.66667%;
                }

                .row > .col-6-narrower {
                    width: 50%;
                }

                .row > .off-6-narrower {
                    margin-left: 50%;
                }

                .row > .col-7-narrower {
                    width: 58.33333%;
                }

                .row > .off-7-narrower {
                    margin-left: 58.33333%;
                }

                .row > .col-8-narrower {
                    width: 66.66667%;
                }

                .row > .off-8-narrower {
                    margin-left: 66.66667%;
                }

                .row > .col-9-narrower {
                    width: 75%;
                }

                .row > .off-9-narrower {
                    margin-left: 75%;
                }

                .row > .col-10-narrower {
                    width: 83.33333%;
                }

                .row > .off-10-narrower {
                    margin-left: 83.33333%;
                }

                .row > .col-11-narrower {
                    width: 91.66667%;
                }

                .row > .off-11-narrower {
                    margin-left: 91.66667%;
                }

                .row > .col-12-narrower {
                    width: 100%;
                }

                .row > .off-12-narrower {
                    margin-left: 100%;
                }

                .row.gtr-0 {
                    margin-top: 0px;
                    margin-left: 0px;
                }

                    .row.gtr-0 > * {
                        padding: 0px 0 0 0px;
                    }

                    .row.gtr-0.gtr-uniform {
                        margin-top: 0px;
                    }

                        .row.gtr-0.gtr-uniform > * {
                            padding-top: 0px;
                        }

                .row.gtr-25 {
                    margin-top: -7.5px;
                    margin-left: -7.5px;
                }

                    .row.gtr-25 > * {
                        padding: 7.5px 0 0 7.5px;
                    }

                    .row.gtr-25.gtr-uniform {
                        margin-top: -7.5px;
                    }

                        .row.gtr-25.gtr-uniform > * {
                            padding-top: 7.5px;
                        }

                .row.gtr-50 {
                    margin-top: -15px;
                    margin-left: -15px;
                }

                    .row.gtr-50 > * {
                        padding: 15px 0 0 15px;
                    }

                    .row.gtr-50.gtr-uniform {
                        margin-top: -15px;
                    }

                        .row.gtr-50.gtr-uniform > * {
                            padding-top: 15px;
                        }

                        .row.gtr-30_customized {
                            margin-top: 15px;
                            margin-left: -20px;
                            margin-bottom: 20px;
                        }

                        .row.gtr-30_customized > * {
                                padding:0px 0px 30px 0px;
                        }

                        .row.gtr-30_customized.gtr-uniform {
                            margin-top: 0px;
                        }

                        .row.gtr-30_customized.gtr-uniform > * {
                            padding-top: 0px;
                        }

                .row {
                    margin-top: -30px;
                    margin-left: -30px;
                }

                    .row > * {
                        padding: 30px 0 0 30px;
                    }

                    .row.gtr-uniform {
                        margin-top: -30px;
                    }

                        .row.gtr-uniform > * {
                            padding-top: 30px;
                        }

                .row.gtr-150 {
                    margin-top: -0;
                    margin-left: -0;
                }

                    .row.gtr-150 > * {
                        padding: 0;
                    }

                    .row.gtr-150.gtr-uniform {
                        margin-top: -45px;
                    }

                        .row.gtr-150.gtr-uniform > * {
                            padding-top: 45px;
                        }

                .row.gtr-200 {
                    margin-top: -60px;
                    margin-left: -60px;
                }

                    .row.gtr-200 > * {
                        padding: 60px 0 0 60px;
                    }

                    .row.gtr-200.gtr-uniform {
                        margin-top: -60px;
                    }

                        .row.gtr-200.gtr-uniform > * {
                            padding-top: 60px;
                        }

        }

        @media screen and (max-width: 736px) {

            .row {
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;
                align-items: stretch;
            }

                .row > * {
                    box-sizing: border-box;
                }

                .row.gtr-uniform > * > :last-child {
                    margin-bottom: 0;
                }

                .row.aln-left {
                    justify-content: flex-start;
                }

                .row.aln-center {
                    justify-content: center;
                }

                .row.aln-right {
                    justify-content: flex-end;
                }

                .row.aln-top {
                    align-items: flex-start;
                }

                .row.aln-middle {
                    align-items: center;
                }

                .row.aln-bottom {
                    align-items: flex-end;
                }

                .row > .imp-mobile {
                    order: -1;
                }

                .row > .col-1-mobile {
                    width: 8.33333%;
                }

                .row > .off-1-mobile {
                    margin-left: 8.33333%;
                }

                .row > .col-2-mobile {
                    width: 16.66667%;
                }

                .row > .off-2-mobile {
                    margin-left: 16.66667%;
                }

                .row > .col-3-mobile {
                    width: 25%;
                }

                .row > .off-3-mobile {
                    margin-left: 25%;
                }

                .row > .col-4-mobile {
                    width: 33.33333%;
                }

                .row > .off-4-mobile {
                    margin-left: 33.33333%;
                }

                .row > .col-5-mobile {
                    width: 41.66667%;
                }

                .row > .off-5-mobile {
                    margin-left: 41.66667%;
                }

                .row > .col-6-mobile {
                    width: 50%;
                }

                .row > .off-6-mobile {
                    margin-left: 50%;
                }

                .row > .col-7-mobile {
                    width: 58.33333%;
                }

                .row > .off-7-mobile {
                    margin-left: 58.33333%;
                }

                .row > .col-8-mobile {
                    width: 66.66667%;
                }

                .row > .off-8-mobile {
                    margin-left: 66.66667%;
                }

                .row > .col-9-mobile {
                    width: 75%;
                }

                .row > .off-9-mobile {
                    margin-left: 75%;
                }

                .row > .col-10-mobile {
                    width: 83.33333%;
                }

                .row > .off-10-mobile {
                    margin-left: 83.33333%;
                }

                .row > .col-11-mobile {
                    width: 91.66667%;
                }

                .row > .off-11-mobile {
                    margin-left: 91.66667%;
                }

                .row > .col-12-mobile {
                    width: 100%;
                }

                .row > .off-12-mobile {
                    margin-left: 100%;
                }

                .row.gtr-0 {
                    margin-top: 0px;
                    margin-left: 0px;
                }

                    .row.gtr-0 > * {
                        padding: 0px 0 0 0px;
                    }

                    .row.gtr-0.gtr-uniform {
                        margin-top: 0px;
                    }

                        .row.gtr-0.gtr-uniform > * {
                            padding-top: 0px;
                        }

                .row.gtr-25 {
                    margin-top: -5px;
                    margin-left: -5px;
                }

                    .row.gtr-25 > * {
                        padding: 5px 0 0 5px;
                    }

                    .row.gtr-25.gtr-uniform {
                        margin-top: -5px;
                    }

                        .row.gtr-25.gtr-uniform > * {
                            padding-top: 5px;
                        }

                .row.gtr-50 {
                    margin-top: -10px;
                    margin-left: -10px;
                }

                    .row.gtr-50 > * {
                        padding: 10px 0 0 10px;
                    }

                    .row.gtr-50.gtr-uniform {
                        margin-top: -10px;
                    }

                        .row.gtr-50.gtr-uniform > * {
                            padding-top: 10px;
                        }

                        .row.gtr-30_customized {
                            margin-top: 15px;
                            margin-left: -20px;
                            margin-bottom: 20px;
                        }

                        .row.gtr-30_customized > * {
                                padding:0px 0px 30px 0px;
                        }

                        .row.gtr-30_customized.gtr-uniform {
                            margin-top: 0px;
                        }

                        .row.gtr-30_customized.gtr-uniform > * {
                            padding-top: 0px;
                        }

                .row {
                    margin-top: -20px;
                    margin-left: -20px;
                }

                    .row > * {
                        padding: 20px 0 0 20px;
                    }

                    .row.gtr-uniform {
                        margin-top: -20px;
                    }

                        .row.gtr-uniform > * {
                            padding-top: 20px;
                        }

                .row.gtr-150 {
                    margin-top: 0;
                    margin-left: 0;
                }

                    .row.gtr-150 > * {
                        padding: 0;
                    }

                    .row.gtr-150.gtr-uniform {
                        margin-top: -30px;
                    }

                        .row.gtr-150.gtr-uniform > * {
                            padding-top: 30px;
                        }

                .row.gtr-200 {
                    margin-top: 0px;
                    margin-left: -40px;
                }

                    .row.gtr-200 > * {
                        padding: 0px 0 0 40px;
                    }

                    .row.gtr-200.gtr-uniform {
                        margin-top: 0px;
                    }

                        .row.gtr-200.gtr-uniform > * {
                            padding-top: 40px;
                        }

        }

        @media screen and (max-width: 480px) {

            .row {
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;
                align-items: stretch;
            }

                .row > * {
                    box-sizing: border-box;
                }

                .row.gtr-uniform > * > :last-child {
                    margin-bottom: 0;
                }

                .row.aln-left {
                    justify-content: flex-start;
                }

                .row.aln-center {
                    justify-content: center;
                }

                .row.aln-right {
                    justify-content: flex-end;
                }

                .row.aln-top {
                    align-items: flex-start;
                }

                .row.aln-middle {
                    align-items: center;
                }

                .row.aln-bottom {
                    align-items: flex-end;
                }

                .row > .imp-mobilep {
                    order: -1;
                }

                .row > .col-1-mobilep {
                    width: 8.33333%;
                }

                .row > .off-1-mobilep {
                    margin-left: 8.33333%;
                }

                .row > .col-2-mobilep {
                    width: 16.66667%;
                }

                .row > .off-2-mobilep {
                    margin-left: 16.66667%;
                }

                .row > .col-3-mobilep {
                    width: 25%;
                }

                .row > .off-3-mobilep {
                    margin-left: 25%;
                }

                .row > .col-4-mobilep {
                    width: 33.33333%;
                }

                .row > .off-4-mobilep {
                    margin-left: 33.33333%;
                }

                .row > .col-5-mobilep {
                    width: 41.66667%;
                }

                .row > .off-5-mobilep {
                    margin-left: 41.66667%;
                }

                .row > .col-6-mobilep {
                    width: 50%;
                }

                .row > .off-6-mobilep {
                    margin-left: 50%;
                }

                .row > .col-7-mobilep {
                    width: 58.33333%;
                }

                .row > .off-7-mobilep {
                    margin-left: 58.33333%;
                }

                .row > .col-8-mobilep {
                    width: 66.66667%;
                }

                .row > .off-8-mobilep {
                    margin-left: 66.66667%;
                }

                .row > .col-9-mobilep {
                    width: 75%;
                }

                .row > .off-9-mobilep {
                    margin-left: 75%;
                }

                .row > .col-10-mobilep {
                    width: 83.33333%;
                }

                .row > .off-10-mobilep {
                    margin-left: 83.33333%;
                }

                .row > .col-11-mobilep {
                    width: 91.66667%;
                }

                .row > .off-11-mobilep {
                    margin-left: 91.66667%;
                }

                .row > .col-12-mobilep {
                    width: 100%;
                }

                .row > .off-12-mobilep {
                    margin-left: 100%;
                }

                .row.gtr-0 {
                    margin-top: 0px;
                    margin-left: 0px;
                }

                    .row.gtr-0 > * {
                        padding: 0px 0 0 0px;
                    }

                    .row.gtr-0.gtr-uniform {
                        margin-top: 0px;
                    }

                        .row.gtr-0.gtr-uniform > * {
                            padding-top: 0px;
                        }

                .row.gtr-25 {
                    margin-top: -5px;
                    margin-left: -5px;
                }

                    .row.gtr-25 > * {
                        padding: 5px 0 0 5px;
                    }

                    .row.gtr-25.gtr-uniform {
                        margin-top: -5px;
                    }

                        .row.gtr-25.gtr-uniform > * {
                            padding-top: 5px;
                        }

                .row.gtr-50 {
                    margin-top: -10px;
                    margin-left: -10px;
                }

                    .row.gtr-50 > * {
                        padding: 10px 0 0 10px;
                    }

                    .row.gtr-50.gtr-uniform {
                        margin-top: -10px;
                    }

                        .row.gtr-50.gtr-uniform > * {
                            padding-top: 10px;
                        }

                        .row.gtr-30_customized {
                            margin-top: 15px;
                            margin-left: -20px;
                            margin-bottom: 20px;
                        }

                        .row.gtr-30_customized > * {
                                padding:0px 0px 30px 0px;
                        }

                        .row.gtr-30_customized.gtr-uniform {
                            margin-top: 0px;
                        }

                        .row.gtr-30_customized.gtr-uniform > * {
                            padding-top: 0px;
                        }

                .row {
                    margin-top: -20px;
                    margin-left: -20px;
                }

                    .row > * {
                        padding: 20px 0 0 20px;
                    }

                    .row.gtr-uniform {
                        margin-top: -20px;
                    }

                        .row.gtr-uniform > * {
                            padding-top: 20px;
                        }

                .row.gtr-150 {
                    margin-top: 0;
                    margin-left: 0;
                }

                    .row.gtr-150 > * {
                        padding: 0;
                    }

                    .row.gtr-150.gtr-uniform {
                        margin-top: -30px;
                    }

                        .row.gtr-150.gtr-uniform > * {
                            padding-top: 30px;
                        }

                .row.gtr-200 {
                    margin-top: 0px;
                    margin-left: -40px;
                }

                    .row.gtr-200 > * {
                        padding: 0px 0 0 40px;
                    }

                    .row.gtr-200.gtr-uniform {
                        margin-top: 0px;
                    }

                        .row.gtr-200.gtr-uniform > * {
                            padding-top: 40px;
                        }

        }

/* Section/Article */

    section.special, article.special {
        text-align: center;
    }

    header p {
        color: #444;
        font-size: 1.25em;
        position: relative;
        margin-top: -1.25em;
        margin-bottom: 2.25em;
    }

    header.major {
        text-align: center;
        margin: 0 0 2em 0;
    }

        header.major h2 {
            font-size: 2.25em;
        }

        header.major p {
            position: relative;
            border-top: solid 1px #e0e0e0;
            padding: 1em 0 0 0;
            margin: 0;
            top: -1em;
            font-size: 1.5em;
        }

    footer {
        margin: 0 0 3em 0;
    }

        footer > :last-child {
            margin-bottom: 0;
        }

        footer.major {
            padding-top: 3em;
        }

/* Image */

    .image {
        border: 0;
        display: inline-block;
        position: relative;
        border-radius: 5px;
    }

        .image img {
            display: block;
            border-radius: 5px;
        }

        .image.left {
            display: block;
            float: left;
            margin: 0 1em 1em 0;
            position: relative;
            top: 0.25em;
        }

            .image.left img {
                display: block;
                width: 100%;
            }

        .image.fit {
            display: block;
        }

            .image.fit img {
                display: block;
                width: 100%;
            }

        .image.featured {
            display: block;
            margin: 0 0 2em 0;
        }

            .image.featured img {
                display: block;
                width: 60%;
            }
        .image.fornewsarticle {
            display: block;
            margin: 0 0 2em 0;
        }

            .image.fornewsarticle img {
                display: block;
                height: 10em;
                width: auto;
            }

/* Icon */

    .icon {
        text-decoration: none;
        position: relative;
        text-decoration: none;
    }

        .icon:before {
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            line-height: 1;
            text-transform: none !important;
            font-family: PTSansRegular, sans-serif;
            font-weight: 400;
        }

        .icon > .label {
            display: none;
        }

        .icon:before {
            line-height: inherit;
        }

        .icon.solid:before {
            font-weight: 900;
        }

        .icon.brands:before {
            font-family: PTSansRegular, sans-serif;
        }

        .icon.major {
            text-align: center;
            cursor: default;
            background-color: #37c0fb;
            background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.15));
            color: #fff;
            border-radius: 100%;
            display: inline-block;
            width: 5em;
            height: 5em;
            line-height: 5em;
            box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
            margin: 0 0 2em 0;
        }

            .icon.major:before {
                font-size: 36px;
            }

/* Lists */

    ol {
        list-style: decimal;
        padding-left: 1.25em;
    }

        ol li {
            padding-left: 0.25em;
        }

    ul {
        list-style: disc;
        padding-left: 1em;
    }

        ul li {
            padding-left: 0.5em;
        }

/* Links */

    ul.links {
        list-style: none;
        padding-left: 0;
    }

        ul.links li {
            line-height: 2.5em;
            padding-left: 0;
        }

/* Icons */

    ul.icons {
        cursor: default;
        list-style: none;
        padding-left: 0;
    }

        ul.icons li {
            display: inline-block;
            line-height: 1em;
            padding-left: 1.5em;
        }

            ul.icons li:first-child {
                padding-left: 0;
            }

            ul.icons li a, ul.icons li span {
                font-size: 2em;
                border: 0;
            }

/* Menu */

    ul.menu {
        list-style: none;
        padding-left: 0;
    }

        ul.menu li {
            border-left: solid 1px #e0e0e0;
            display: inline-block;
            padding: 0 0 0 1em;
            margin: 0 0 0 1em;
        }

            ul.menu li:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }

/* Actions */

    ul.actions {
        display: flex;
        cursor: default;
        list-style: none;
        margin-left: -1em;
        padding-left: 0;
    }

        ul.actions li {
            padding: 0 0 0 1em;
            vertical-align: middle;
        }

        ul.actions.special {
            justify-content: center;
            width: 100%;
            margin-left: 0;
        }

            ul.actions.special li:first-child {
                padding-left: 0;
            }

        ul.actions.stacked {
            flex-direction: column;
            margin-left: 0;
        }

            ul.actions.stacked li {
                padding: 1.25em 0 0 0;
            }

                ul.actions.stacked li:first-child {
                    padding-top: 0;
                }

        ul.actions.fit {
            width: calc(100% + 1em);
        }

            ul.actions.fit li {
                flex-grow: 1;
                flex-shrink: 1;
                width: 100%;
            }

                ul.actions.fit li > * {
                    width: 100%;
                }

            ul.actions.fit.stacked {
                width: 100%;
            }

        @media screen and (max-width: 736px) {

            ul.actions:not(.fixed) {
                flex-direction: column;
                margin-left: 0;
                width: 100% !important;
            }

                ul.actions:not(.fixed) li {
                    flex-grow: 1;
                    flex-shrink: 1;
                    padding: 1em 0 0 0;
                    text-align: center;
                    width: 100%;
                }

                    ul.actions:not(.fixed) li > * {
                        width: 100%;
                    }

                    ul.actions:not(.fixed) li:first-child {
                        padding-top: 0;
                    }

                    ul.actions:not(.fixed) li input[type="submit"],
                    ul.actions:not(.fixed) li input[type="reset"],
                    ul.actions:not(.fixed) li input[type="button"],
                    ul.actions:not(.fixed) li button,
                    ul.actions:not(.fixed) li .button {
                        width: 100%;
                    }

                        ul.actions:not(.fixed) li input[type="submit"].icon:before,
                        ul.actions:not(.fixed) li input[type="reset"].icon:before,
                        ul.actions:not(.fixed) li input[type="button"].icon:before,
                        ul.actions:not(.fixed) li button.icon:before,
                        ul.actions:not(.fixed) li .button.icon:before {
                            margin-left: -0.5em;
                        }

        }

/* Tables */

    table {
        width: 100%;
    }

        table.default {
            width: 100%;
        }

            table.default tbody tr {
                border-bottom: solid 1px #e0e0e0;
            }

            table.default td {
                padding: 0.5em 1em 0.5em 1em;
            }

            table.default th {
                font-weight: 600;
                padding: 0.5em 1em 0.5em 1em;
                text-align: left;
            }

            table.default thead {
                background-color: #555555;
                background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.15));
                color: #fff;
            }

/* Button */

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
        appearance: none;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.15));
        background-color: #37c0fb;
        border-radius: 5px;
        border: 0;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        padding: 0 1.5em;
        line-height: 2.75em;
        min-width: 9em;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
    }

        input[type="submit"]:hover,
        input[type="reset"]:hover,
        input[type="button"]:hover,
        button:hover,
        .button:hover {
            background-color: #50c8fc;
            color: #fff !important;
        }

        input[type="submit"]:active,
        input[type="reset"]:active,
        input[type="button"]:active,
        button:active,
        .button:active {
            background-color: #1eb8fb;
            color: #fff;
        }

        input[type="submit"].alt,
        input[type="reset"].alt,
        input[type="button"].alt,
        button.alt,
        .button.alt {
            background-color: #555555;
            color: #fff;
        }

            input[type="submit"].alt:hover,
            input[type="reset"].alt:hover,
            input[type="button"].alt:hover,
            button.alt:hover,
            .button.alt:hover {
                background-color: #626262;
            }

            input[type="submit"].alt:active,
            input[type="reset"].alt:active,
            input[type="button"].alt:active,
            button.alt:active,
            .button.alt:active {
                background-color: #484848;
            }

        input[type="submit"].icon:before,
        input[type="reset"].icon:before,
        input[type="button"].icon:before,
        button.icon:before,
        .button.icon:before {
            margin-right: 0.5em;
        }

        input[type="submit"].fit,
        input[type="reset"].fit,
        input[type="button"].fit,
        button.fit,
        .button.fit {
            width: 100%;
        }

        input[type="submit"].small,
        input[type="reset"].small,
        input[type="button"].small,
        button.small,
        .button.small {
            font-size: 0.8em;
        }

/* Box */

    .box.highlight-box {
        text-align: center;
        margin: auto;
    }

    .box.highlight-box p.datetime {
        font-weight: 100;
        font-size: 0.8em;
        margin: 0;
    }

    .box.highlight-box .image {
        display: block;
        width: 80%;
        margin: auto;
    }
        .box.highlight-box .image:after {
            content: "";
            display: block;
            padding-bottom: 70%
        }

        .box.highlight-box .image img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .box.highlight-box h3 {
            color: #03587d;
            padding-left: 0em;
            margin: 0;
        }


    .box.highlight-box .projectimage {
        position: relative;
        width: 70%;
        margin: auto;
    }
        .box.highlight-box .projectimage:after {
            content: "";
            display: block;
            padding-bottom: 0.5em;
        }

        .box.highlight-box .projectimage img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }

        .ratio-4-3 {
            position: relative;
            height: 0;
            padding-top: 75%; /* 100% ширины делим на 4 и умножаем на 3 */
        }

    .box .personcircle_big {
        position: relative;
        width: 90%;
        margin: auto;
    }

    @media screen and (max-width: 1680px) {
        .box .personcircle_big {
            position: relative;
            width: 100%;
            margin: auto;
        }
    }

    @media screen and (max-width: 480px) {
        .box .personcircle_big {
            position: relative;
            width: 55%;
            margin: auto;
        }
    }

    .box .personcircle_medium {
        position: relative;
        width: 70%;
        margin: auto;
    }

    @media screen and (max-width: 1680px) {
        .box .personcircle_medium {
            position: relative;
            width: 70%;
            margin: auto;
        }
    }

    @media screen and (max-width: 480px) {
        .box .personcircle_medium {
            position: relative;
            width: 80%;
            margin: auto;
        }
    }

    .box .personcircle_small {
        position: relative;
        width: 25%;
        margin: auto;
        float: left;
    }

        .box .personcircle_medium:after, .personcircle_big:after, .personcircle_small:after {
            content: "";
            display: block;
            padding-bottom: 100%
        }

        .box .personcircle_medium img, .personcircle_big img, .personcircle_small img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            object-position: 0 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }

        .box .personcircle_medium.img_size_90 img{
            width: 90%;
            height: 90%;
            margin: auto;
        }

    .box.post {
        position: relative;
        margin: 1.2em 0 1.2em 0;
    }

        .box.post:after {
            content: '';
            display: block;
            clear: both;
        }

        .box.post .inner {
            margin-left: calc(25% + 2em);
        }

            .box.post .inner > :last-child {
                margin-bottom: 0;
            }

        .box.post .image {
            width: 25%;
            height: 25%;
            margin: 0;
        }
        .box.post .image:after {
            content: "";
            display: block;
            padding-bottom: 100%
        }

        .box.post .image img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .box.post p {
            margin-bottom: 0;
        }


    .box.newslistnode {
        position: relative;
        display: table-row;
    }
        .box.newslistnode .leftpart {
            display: table-cell;
        }
        .box.newslistnode .rightpart {
            padding-left: 5px;
            padding-top: 0.5em;
            text-align: justify;
            hyphens: auto;
            display: table-cell;
        }







/* Header */

    #header {
        text-align: center;
        padding: 0em 0 0 0;
        background-color: #24435c;
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
        background-position: top left;
        background-size: 100% 6em;
        background-repeat: no-repeat;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }
        #header #centeringheader {
            text-align: left;
            position: absolute;
            top: 50%;
            left: 2%;
            transform: translate(0, -50%);
        }

        #centeringheader #img-header {
            padding-right: 10px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
        }

            #centeringheader #img-header img {
                width: 77px;
                height: 48px;
            }

        #centeringheader h1 {
            padding: 0;
            margin: 0;
            display: inline-block;
            margin: 0em 0em 0em 0em;
            font-size: 1em;
        }

            #centeringheader h1 a {
                font-size: 1.3em;
                font-family: PTSansNarrow, sans-serif;
                font-weight: normal;
                color: #ffffff;
                border: 0;
                text-decoration: none;
            }

    #nav {
        cursor: default;
        padding: 0;
        display: inline;
        font-family: PTSansNarrow, sans-serif;
        font-size: 2rem;
    }

        #nav:after {
            content: '';
            display: block;
            width: 100%;
            height: 0.45em;
            background-color: #036a96;
        }

        #nav > ul {
            margin: 0;
            display: inline-block;
        }

            #nav > ul > li {
                position: relative;
                display: inline-block;
                margin-left: 1em;
            }

                #nav > ul > li a {
                    color: #c0c0c0;
                    text-decoration: none;
                    border: 0;
                    display: block;
                    padding: 0.8em 0.5em 0.8em 0.5em;
                }

                #nav > ul > li:first-child {
                    margin-left: 0;
                }

                #nav > ul > li:hover a {
                    color: #fff;
                }

                #nav > ul > li.current {
                    font-weight: 600;
                }

                    #nav > ul > li.current:before {
                        transform: rotateZ(45deg);
                        width: 0.45em;
                        height: 0.45em;
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -0.22em;
                        left: 50%;
                        margin-left: 0em;
                        background-color: #036a96;
                    }

                    #nav > ul > li.current a {
                        color: #fff;
                    }

                #nav > ul > li.active a {
                    color: #fff;
                }

                #nav > ul > li.active.current:before {
                    opacity: 0;
                }

                #nav > ul > li > ul {
                    display: none;
                }

/* Dropotron */

    .dropotron {
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
        background-color: #24435c;
        border-radius: 5px;
        color: #fff;
        min-width: 10em;
        padding: 1em 0;
        text-align: center;
        box-shadow: 0 1em 1em 0 rgba(0, 0, 0, 0.5);
        list-style: none;
    }

        .dropotron > li {
            line-height: 2em;
            padding: 0 1.1em 0 1em;
        }

            .dropotron > li > a {
                color: #c0c0c0;
                text-decoration: none;
                border: 0;
            }

            .dropotron > li.active > a, .dropotron > li:hover > a {
                color: #fff;
            }

        .dropotron.level-0 {
            border-radius: 0 0 5px 5px;
            font-size: 0.9em;
            padding-top: 0;
            margin-top: -1px;
        }

/* Wrapper */

    .wrapper {
        padding: 85px 0 30px 0;
    }

        .wrapper.style1 {
            background: #fff;
        }

        .wrapper.style2 {
            background-color: #fff;
            background-position: top left,                        bottom left,                    top left;
            background-size: 100% 6em,                        100% 6em,                        auto;
            background-repeat: no-repeat,                        no-repeat,                        repeat;
        }

        .wrapper.style3 {
            background-color: #37c0fb;
            background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.15));
            color: #fff;
        }

            .wrapper.style3 .button {
                background: #fff;
                color: #474747;
            }

                .wrapper.style3 .button:hover {
                    color: #37c0fb !important;
                }

/* Footer */

    #footer {
        padding: 20px 0 20px 0;
    }

        #footer a {
            color: inherit;
            border-bottom-color: rgba(71, 71, 71, 0.25);
        }

            #footer a:hover {
                color: #036a96;
                border-bottom-color: transparent;
            }

            #footer h4{
                margin: 0;
            }

        #footer .container {
            margin-bottom: 0em;
        }

        #footer .icons {
            text-align: center;
            margin: 0;
        }

            #footer .icons a {
                color: #999;
            }

                #footer .icons a:hover {
                    color: #474747;
                }

        #footer .copyright {
            color: #999;
            margin-top: 30px;
            text-align: center;
            font-size: 0.9em;
        }

/* Wide */

    @media screen and (max-width: 1680px) {

        /* Header */

        #header {
            padding: 0em 0 0 0;
            padding-top: 0em;
        }

    }

/* Normal */

    @media screen and (max-width: 1280px) {

        /* Lists */

            ol {
                padding-left: 1.25em;
            }

                ol li {
                    padding-left: 0.25em;
                }

        /* Icons */

            ul.icons li a, ul.icons li span {
                font-size: 1.5em;
            }

        /* Wrapper */

            .wrapper {
                padding: 70px 0 30px 0;
            }

        /* Footer */

            #footer {
                padding: 20px 0 20px 0;
            }

                #footer .container {
                    margin-bottom: 1em;
                }


        /* Header */

        #centeringheader #img-header {
            display: block;
        }

            #centeringheader #img-header img {
                width: 57px;
                height: 35px;
            }

        #centeringheader h1 {
            display: block;
        }

            #centeringheader h1 {
                padding: 0 0 0 0;
                margin-top: -0.7em;
            }

            #centeringheader h1 a {
                font-size: 0.8em;
            }

    }

/* Narrow */

    @media screen and (max-width: 980px) {

    }

/* Narrower */

    #navPanel, #titleBar {
        display: none;
    }

    @media screen and (max-width: 840px) {

        /* Basic */

            html, body {
                overflow-x: hidden;
            }

            h1, h2 {
                margin-top: 0em;
            }

            header p {
                margin-top: -0.75em;
            }

            header.major {
                text-align: center;
                margin: 0 0 2em 0;
            }

                header.major h2 {
                    font-size: 1.75em;
                }

                header.major p {
                    top: -0.25em;
                    font-size: 1.25em;
                }

        /* Box */

            .box.highlight-box {
                text-align: center;
                position: relative;
                width: 80%;
            }

            .box.highlight-box a.image {
                height: 80%;
                width: 80%;
            }

            .box.post .inner {
                margin-left: calc(20% + 2em);
            }

            .box.post .image {
                width: 20%;
            }


        /* Header */

            #header {
                display: none;
            }

        /* Wrapper */

        .wrapper {
            padding: 1em 0 1em 0;
        }

        /* Footer */

            #footer {
                text-align: center;
            }

                #footer .container {
                    margin-bottom: 4em;
                }

                #footer form .actions {
                    justify-content: center;
                    width: 100%;
                    margin-left: 0;
                }

                    #footer form .actions li:first-child {
                        padding-left: 0;
                    }

        /* Nav */

            #page-wrapper {
                backface-visibility: hidden;
                transition: transform 0.5s ease;
                padding-bottom: 1px;
                padding-top: 44px;
            }

            #titleBar {
                backface-visibility: hidden;
                transition: transform 0.5s ease;
                display: block;
                height: 44px;
                left: 0;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 10001;
                background-color: #24435c;
                background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
                height: 44px;
                line-height: 44px;
            }

                #titleBar .title {
                    font-family: PTSansNarrow, sans-serif;
                    display: block;
                    position: relative;
                    font-weight: 600;
                    text-align: center;
                    color: #fff;
                    z-index: 1;
                }

                    #titleBar .title em {
                        font-style: normal;
                        font-weight: 300;
                    }

                #titleBar .toggle {
                    text-decoration: none;
                    border: 0;
                    height: 60px;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 80px;
                    z-index: 2;
                }

                #titleBar .toggle:before {
                    content: url('../images/bars.svg');
                    filter: brightness(0) invert(1) brightness(0.7);;
                    display: block;
                    height: 20px;
                    width: 20px;
                    margin-top: 5px;
                    margin-left: 15px;
                    text-align: center;
                }

                #titleBar .toggle:active:before {
                    opacity: 0.75;
                }

            #navPanel {
                font-family: PTSansNarrow, sans-serif;
                backface-visibility: hidden;
                transform: translateX(-275px);
                transition: transform 0.5s ease;
                display: block;
                height: 100%;
                left: 0;
                overflow-y: auto;
                position: fixed;
                top: 0;
                width: 275px;
                z-index: 10002;
                background: #24435c;
                border-right: solid 2px #3c3c3c;
                font-weight: 400;
                text-transform: uppercase;
                color: #888;
                letter-spacing: 2px;
                font-size: 0.85em;
            }

                #navPanel .link {
                    display: block;
                    color: #ddd;
                    text-decoration: none;
                    height: 44px;
                    line-height: 44px;
                    border: 0;
                    border-top: solid 1px #3c3c3c;
                    padding: 0 1em 0 1em;
                }

                    #navPanel .link:first-child {
                        border-top: 0;
                    }

                    #navPanel .link.depth-0 {
                        font-weight: 600;
                        color: #fff;
                    }

                #navPanel .indent-1 {
                    display: inline-block;
                    width: 1em;
                }

                #navPanel .indent-2 {
                    display: inline-block;
                    width: 2em;
                }

                #navPanel .indent-3 {
                    display: inline-block;
                    width: 3em;
                }

                #navPanel .indent-4 {
                    display: inline-block;
                    width: 4em;
                }

                #navPanel .indent-5 {
                    display: inline-block;
                    width: 5em;
                }

                #navPanel .depth-0 {
                    color: #fff;
                }

            body.navPanel-visible #page-wrapper {
                transform: translateX(275px);
            }

            body.navPanel-visible #titleBar {
                transform: translateX(275px);
            }

            body.navPanel-visible #navPanel {
                transform: translateX(0);
            }

        .image.featured img {
            display: block;
            width: 100%;
        }

    }

/* Mobile */

    @media screen and (max-width: 736px) {

        /* Basic */

            h2 {
                line-height: 1.35em;
            }

            h3 {
                line-height: 1.35em;
            }

            header p {
                margin-top: -0.5em;
                font-size: 1em;
            }

            header.major {
                padding: 0 20px;
            }

                header.major h2 {
                    font-size: 1.25em;
                }

                header.major p {
                    top: 0;
                    margin-top: 1.25em;
                    font-size: 1em;
                }

        /* Menu */

            ul.menu li {
                border: 0;
                padding: 0;
                margin: 0;
                display: block;
                line-height: 2em;
            }

        /* Wrapper */

            .wrapper {
                padding: 1em 0 1px 0;
            }

        .image.featured img {
            display: block;
            width: 100%;
        }

    }

/* Mobile (Portrait) */

    @media screen and (max-width: 480px) {

        /* Icon */

            .icon.major {
                width: 4em;
                height: 4em;
                line-height: 4em;
                box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
            }

                .icon.major:before {
                    font-size: 24px;
                }

        /* Button */

            input[type="submit"],
            input[type="reset"],
            input[type="button"],
            button,
            .button {
                width: 100%;
                display: block;
            }

        /* Box */

            .box.highlight-box {
                text-align: center;
                width: 80%;
            }

            .box.highlight-box a.image {
                height: 80%;
                width: 80%;
            }

            .box.post .inner {
                margin-left: calc(30% + 20px);
            }

            .box.post .image {
                width: 30%;
            }

        /* Wrapper */

            .wrapper {
                padding: 1em 20px 1px 20px;
            }

        /* Footer */

            #footer {
                padding: 2em 20px;
                text-align: left;
            }

    }
